/*==================== RESET STYLES ====================*/
@import 'import/reset.scss';
/*==================== RESET STYLES ====================*/

/*==================== FONTS ====================*/
@import 'fonts.scss';
/*==================== FONTS ====================*/

/*==================== VARIABLES ====================*/
$maxWidthLayout: 1440;
$maxWidthContainer: 1080;
$montFont: 'Montserrat', sans-serif;
$orangeColor: #ff7b47;
$greenColor: #0d5c63;
/*==================== VARIABLES ====================*/

/*==================== MIXINS ====================*/
// responsive value
@mixin respValue($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
    }
  } @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
  }
}
// snippet (rv)
// responsive value
/*==================== MIXINS ====================*/

/*==================== BASIC PARAMETERS ====================*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $montFont;
  background: #fafafa;
  color: #252b42;

  @media (max-width: 767.98px) {
    &.lock {
      overflow: hidden;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;

  .section-class,
  .section-class {
    &:not(:last-child) {
      @include respValue('margin-bottom', 60, 40, 1);
    }
  }

  &:not(:last-child) {
    @include respValue('margin-bottom', 60, 40, 1);
  }
}
/*==================== BASIC PARAMETERS ====================*/

/*==================== REPEAT BLOCK ====================*/
//! Container
[class*='__container'] {
  width: 100%;
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}

//! Responsive
// js
@import 'import/ibg.scss';

// or scss
.ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//! Title
.title-l {
  @include respValue('font-size', 40, 35, 1);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-transform: capitalize;

  &:not(:last-child) {
    margin: 0 0 10px 0;
  }
}

.title-m {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.2px;
  text-transform: capitalize;

  &:not(:last-child) {
    margin: 0 0 10px 0;
  }
}

.title-s {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

//! Text
.txt {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #737373;
}

//! Link
.link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #fff;
  transition: all 0.1s linear;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #fff;
    transform: scale(0);
    transition: all 0.1s linear;
  }

  &:hover {
    &::before {
      transform: scale(1);
    }
  }
}

//! Button (highlight)
.btn {
  position: relative;
  background: $orangeColor;
  border-radius: 5px;
  padding: 20px 40px;
  overflow: hidden;
  transition: all 0.1s linear;

  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(238, 238, 238, 0.7);
    border-radius: 5px;
    overflow: hidden;
    transform: translateX(-4em) skewX(-45deg);
  }

  &_transp {
    background: transparent;
    border: 1px solid $orangeColor;
    color: $orangeColor;
  }

  &:hover {
    &::before {
      animation: highlight 0.3s linear;
    }
  }

  &:active {
    transform: scale(0.98);
  }
}

@keyframes highlight {
  0% {
    transform: translateX(-4em) skewX(-45deg);
  }
  100% {
    transform: translateX(10em) skewX(-45deg);
  }
}
/*==================== REPEAT BLOCK ====================*/

//todo: HEADER
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 15px 0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
    transition: all 0.2s linear;
  }

  @media (max-width: 767.98px) {
    &.active {
      &::before {
        background: $greenColor;
        z-index: 3;
      }
    }
  }

  &.scroll {
    &::before {
      background: #252b42;
    }
  }

  @media (max-width: 767.98px) {
    &.scroll {
      &.active {
        &::before {
          background: $greenColor;
        }
      }
    }
  }

  &__body {
    display: grid;
    grid-template-rows: minmax(60px, 1fr);
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 150px;

    @media (max-width: 767.98px) {
      grid-template-rows: 1fr;
    }
  }

  &__logo {
    position: relative;
    z-index: 3;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: all 0.2s linear;

    &.scroll {
      color: #fff;
    }

    @media (max-width: 767.98px) {
      &.active {
        color: #fff;
      }
    }
  }

  &__menu {
    justify-self: start;
    position: relative;
    z-index: 2;

    @media (max-width: 767.98px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background: #252b42;
      padding: 150px 0 0 0;
      overflow: auto;
      transition: all 0.2s linear;

      &.active {
        top: 0;
      }
    }
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;

    @media (max-width: 767.98px) {
      grid-auto-flow: row;
      justify-content: center;
      margin: 0 0 50px 0;
    }
  }

  &__burger {
    display: none;

    @media (max-width: 767.98px) {
      justify-self: end;
      position: relative;
      z-index: 3;

      display: block;
      width: 30px;
      height: 20px;
      background: none;
      overflow: hidden;

      span,
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.6px;
        left: 0;
        background: #252b42;
        transition: all 0.2s linear;
      }

      span {
        top: 50%;
        transform: translate(0, -50%) scale(1);
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active {
        span {
          transform: translate(0, -50%) scale(0);
        }

        &::before {
          top: 9px;
          transform: rotate(-45deg);
          background: #fff;
        }

        &::after {
          bottom: 9px;
          transform: rotate(45deg);
          background: #fff;
        }
      }

      &.scroll {
        span,
        &::before,
        &::after {
          background: #fff;
        }
      }
    }
  }
}

.spoiler {
  position: relative;

  &__title {
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 8px;
      height: 2px;
      background: #737373;
      transition: all 0.2s linear;
    }

    &::before {
      transform: rotate(-40deg);
      right: 0;
    }

    &::after {
      transform: rotate(40deg);
      right: 5px;
    }

    &._active {
      &::before {
        transform: rotate(40deg);
        right: 0;
      }

      &::after {
        transform: rotate(-40deg);
        right: 5px;
      }
    }

    &.scroll {
      &::before,
      &::after {
        background: #fff;
      }
    }

    @media (min-width: 767.98px) {
      padding: 0 20px 0 0;
    }

    @media (max-width: 767.98px) {
      &::before,
      &::after {
        width: 10px;
        background: #fff;
      }

      &::before {
        transform: rotate(40deg);
        left: -30px;
        background: #fff;
      }

      &::after {
        transform: rotate(-40deg);
        left: -23px;
        background: #fff;
      }

      &._active {
        &::before {
          transform: rotate(-40deg);
        }

        &::after {
          transform: rotate(40deg);
        }
      }
    }
  }

  &__list {
    display: none;
    position: absolute;
    width: 150px;
    top: 30px;
    left: 50px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;

    > *:not(:last-child) {
      margin: 0 0 20px 0;
    }

    @media (max-width: 767.98px) {
      left: 30px;
      background: rgba(0, 0, 0, 0.9);
    }
  }
}

.spoiler__title,
.header__link {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #737373;

  &.scroll {
    color: #fff;
  }

  @media (max-width: 767.98px) {
    font-size: 18px;
    color: #fff;
  }
}
